In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime

In [21]:
df = pd.read_csv('../Data/Absenteeism_at_work.csv', sep=';')
df.columns = [x.strip().replace(' ', '_').lower() for x in df.columns]

df.head()

,id,reason_for_absence,month_of_absence,day_of_the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load_average/day,...,disciplinary_failure,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index,absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [22]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, reason_for_absence, month_of_absence, day_of_the_week, seasons, transportation_expense, distance_from_residence_to_work, service_time, age, work_load_average/day, hit_target, disciplinary_failure, education, son, social_drinker, social_smoker, pet, weight, height, body_mass_index, absenteeism_time_in_hours]
Index: []

[0 rows x 21 columns]

In [24]:
df['seasons'] = df['seasons'].astype('category')
df['reason_for_absence'] = df['reason_for_absence'].astype('category')

In [38]:
df[df['seasons']==3].month_of_absence.unique()

array([3, 4, 5, 6, 0])